[server]
AppMode = debug
Port    = :8080


[database]
Dbtype     = mysql
DbHost     = 127.0.0.1
DbPort     = 3306
DbUser     = 
DbPassWord = 
DbName     = douyin
LogLevel   = info


[redis]
Host = 127.0.0.1
Port = 6379


[feed]
ListLength = 30


[oss]
Url             = oss-cn-xxx.aliyuncs.com
Bucket          = tdouyinbuc
BucketDirectory = douyin_test
AccessKeyID     = 
AccessKeySecret = 


[video]
SavePath = /tmp/test_video/  # 最后要带斜杠
AllowedExts = .mp4,.wmv,.avi
UploadMaxSize = 1024  # 单位为MB